<div>
  <br>
  <mat-card>
    <section class="mat-typography">
      <h3>Create a new Entry</h3>
    </section>
    <mat-divider></mat-divider>
    <br>
    <form [formGroup]="createForm" class="create-form">
      <mat-form-field class="field-full-width">
        <input matInput placeholder="Enter Name" formControlName="name" #name>
      </mat-form-field>
      <mat-form-field class="field-full-width">
        <input matInput placeholder="Enter Age" formControlName="age" #age>
      </mat-form-field>
      <mat-form-field class="field-full-width">
        <input matInput placeholder="Enter country" formControlName="country" #country>
      </mat-form-field>
      <mat-form-field class="field-full-width">
        <mat-select placeholder="Gender" formControlName="gender" #gender>
          <mat-option value="male">Male</mat-option>
          <mat-option value="female">Female</mat-option>
        </mat-select>
      </mat-form-field>
      
      <mat-divider></mat-divider>
      <br><br>
      <button mat-raised-button color="accent" routerLink="/list">Back</button>
      <button type="submit" (click)="addIssue(name.value, age.value, country.value, gender.value)" [disabled]="createForm.pristine || createForm.invalid" mat-raised-button color="primary">Save</button>
    </form>
  </mat-card>
</div>